<div class="mt-10 ml-10">
    <h2 class="font-semibold text-3xl text-[#236D4B]">Generador de caps de setmana</h2>
    <p class="mt-3">Si no saps que fer aquest cap de setmana, prova el generador de plans aleatoris!</p>
</div>

<div class="flex justify-center items-center mt-5">
    <button (click)="onPreviousImage()" class="w-[40px] h-[40px] bg-[#236D4B] text-[#ace874] text-2xl rounded-xl">&lt;</button>
    <img [src]="imagePathCarousel()" [alt]="altNameCarousel()" class="w-[450px] h-[250px] object-cover rounded-lg transition-opacity duration-500" [class.opacity-50]="isChangingImage()">
    <button (click)="onNextImage()" class="w-[40px] h-[40px] bg-[#236D4B] text-[#ace874] text-2xl rounded-xl">&gt;</button>
</div>

<button (click)="onGenerateWeekend()" class="bg-[#236D4B] mt-10 ml-10 text-[#E9F8E1] rounded p-2 hover:bg-[#1d5f41] hover:cursor-pointer">
    Generar cap de setmana
</button>
