<div class="font-poppins mt-10 ml-10">
    <h2 class="font-semibold text-3xl text-[#236D4B]">Catàleg d'idees</h2>
    <p class="mt-3">Explora el nostre ample ventall de plans per realizar!</p>
    <button [routerLink]="'favs'" class="w-fit flex gap-x-2 bg-[#236D4B] text-[#E9F8E1] rounded p-2 mt-4 hover:bg-[#1d5f41] hover:cursor-pointer">
        <fa-icon [icon]="solidHeartIcon()"></fa-icon>
        <p>Idees preferides</p>
    </button>
</div>

@if (ideasList().length > 0) {

    <div class="w-full flex flex-wrap justify-center items-center gap-x-12 gap-y-10 my-8 font-poppins">
        @for (idea of ideasList(); track idea.id) {
            <div class="w-[300px] h-[350px] border-3 border-gray-100 shadow-md p-3 rounded-md">
                <div class="flex justify-center items-center">
                    <img [src]="idea.image" [alt]="idea.title" class="w-[265px] h-[150px] object-cover rounded-md">
                </div>
                <p class="text-center text-[#236D4B] font-bold text-lg mt-3 mb-2">{{ idea.title }}</p>
                <fa-icon [icon]="idea.favorite ? solidHeartIcon() : regularHeartIcon()" (click)="onChangeFavorite(idea.id)"></fa-icon>
                <p>{{ idea.description }}</p>
                <p class="mt-2"><strong>Mood: </strong>{{ idea.mood }}</p>
                <p><strong>Duració: </strong>{{ idea.duration }}</p>
            </div>
        }
    </div>

} @else {
    <div class="flex justify-center items-center">
        <div class="flex gap-x-2 w-fit mt-20 bg-blue-200 text-blue-600 border-2 px-5 py-2 rounded">
            <fa-icon [icon]="infoIcon()"></fa-icon>
            <p>No hi han idees per mostrar!</p>
        </div>
    </div>
}
